<div class="container">
     <div class="row">
        <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
            <h3>注文履歴詳細</h3>
            <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
            <table class="table table-borderless">
              <tbody>
                <tr>
                    <th scope="row">購入者</th>
                    <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
                </tr>
                <tr>
                    <th scope="row">注文日</th>
                    <td><%= @order.created_at %></td>
                </tr>
                 <tr>
                    <th scope="row">配送先</th>
                    <td><%= @order.address %></td>
                </tr>
                 <tr>
                    <th scope="row">支払方法</th>
                    <td><%= @order.payment_method %></td>
                </tr>
                
                <tr>
                    
                    <th scope="row"><%= f.label :status, '注文ステータス' %></th>
                    <td><%= f.select :status, Order.statuses_i18n.keys.map { |k| [I18n.t("enums.order.status.#{k}"), k]} %>
                        <%= f.submit "更新", class:"btn btn-success" %>
                    </td>
                    
                </tr>
                
              </tbody>
            </table>
            <% end %>
        </div>
    </div>
</div>